body{
  margin: 0;
  padding: 0;
    background-color: rgb(67, 25, 126);
    font-family: 'Raleway', sans-serif;
}

h1{
  margin-right: 20%;
  margin-left: 25%;
  font-size: 50px;
  color: rgb(255, 219, 12);
}

.a1{
  position: absolute;
  right: 0px;
}

.cards {
  position: relative;
}

.card {
  margin-top: 10%;
  margin-left: 50%;
  z-index: 1;
  position: absolute;
  width: 354px;
  height: 290px;
  border-radius: 10px;
  transition: all .5s ease-out;
  overflow: hidden;
  transform: translateX(0px) translateY(0px) perspective(905px) rotateX(0deg) rotateY(0deg) rotateZ(-8deg);
}

.card.zero {
  top: -145px;
  left: -175px;
  background: linear-gradient(180deg, #34036b 0%, #9901ff 100%);
}

.card.one {
  top: -120px;
  left: -150px;
  background: linear-gradient(180deg, #FF0055 0%, #f0a9e4 100%);
}

.card.two {
  top: -95px;
  left: -125px;
  background: linear-gradient(180deg, #a20ec7 0%, #fa00ff 100%); 
}

.card:hover {
  z-index: 4;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) !important;
  transition: all .5s ease-out;
}

.cardDetails {
  width: 55%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: rgba(0,0,0,0.8);
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card:hover .cardDetails {
  transform: perspective(2000px) rotateY(0deg);
}

.cardDetailsHaeder {
  font-weight: 600;
  color: #e1ff00;
}

.heart-container {
  --heart-color: rgb(91, 255, 255);
  position: relative;
  width: 50px;
  height: 50px;
  transition: .3s;
  margin-left: 50%;
  margin-top: 10%;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}